@use '../../utils/vars';

.animation { /*Animation du svg "bonjour"*/

    width: 50%; /*Taille de l'animation*/
}

.animation path:nth-child(1) { /*Lettre o cercle extérieur*/

    stroke: vars.$coler_letter_paire;
    stroke-width: 10px;
    stroke-dasharray: 2500px;
    stroke-dashoffset: 2500px;
    animation: anim 5s ease forwards;
    animation-iteration-count: infinite;
}

.animation path:nth-child(2) { /*Lettre o cercle intérieur*/

    stroke: vars.$coler_letter_paire;
    stroke-width: 10px;
    stroke-dasharray: 2500px;
    stroke-dashoffset: 2500px;
    animation: anim 5s ease forwards;
    animation-iteration-count: infinite;
}

.animation path:nth-child(3) { /*Deuxieme o cercle extérieur*/

    stroke: vars.$coler_letter_impaire;
    stroke-width: 10px;
    stroke-dasharray: 2500px;
    stroke-dashoffset: 2500px;
    animation: anim 5s ease forwards;
    animation-iteration-count: infinite;
}

.animation path:nth-child(4) { /*Deuxieme o cercle intérieur*/

    stroke: vars.$coler_letter_impaire;
    stroke-width: 10px;
    stroke-dasharray: 2500px;
    stroke-dashoffset: 2500px;
    animation: anim 5s ease forwards;
    animation-iteration-count: infinite;
}

.animation path:nth-child(5) { /*Lettre b*/

    stroke: vars.$coler_letter_impaire;
    stroke-width: 10px;
    stroke-dasharray: 5000px;
    stroke-dashoffset: 5000px;
    animation: anim 5s ease forwards;
    animation-iteration-count: infinite;
}

.animation path:nth-child(6) { /*Cercle supérieur lettre b*/

    stroke: vars.$coler_letter_impaire;
    stroke-width: 10px;
    stroke-dasharray: 5000px;
    stroke-dashoffset: 5000px;
    animation: anim 5s ease forwards;
    animation-iteration-count: infinite;
}

.animation path:nth-child(7) { /*Cercle inférieur lettre b*/

    stroke: vars.$coler_letter_impaire;
    stroke-width: 10px;
    stroke-dasharray: 5000px;
    stroke-dashoffset: 5000px;
    animation: anim 5s ease forwards;
    animation-iteration-count: infinite;
}

.animation path:nth-child(8) { /*Lettre n*/

    stroke: vars.$coler_letter_impaire;
    stroke-width: 10px;
    stroke-dasharray: 5000px;
    stroke-dashoffset: 5000px;
    animation: anim 5s ease forwards;
    animation-iteration-count: infinite;
}

.animation path:nth-child(9) { /*Lettre j*/

    stroke: vars.$coler_letter_paire;
    stroke-width: 10px;
    stroke-dasharray: 5000px;
    stroke-dashoffset: 5000px;
    animation: anim 5s ease forwards;
    animation-iteration-count: infinite;
}

.animation path:nth-child(10) { /*Lettre u*/

    stroke: vars.$coler_letter_paire;
    stroke-width: 10px;
    stroke-dasharray: 5000px;
    stroke-dashoffset: 5000px;
    animation: anim 5s ease forwards;
    animation-iteration-count: infinite;
}

.animation path:nth-child(11) { /*Lettre r*/

    stroke: vars.$coler_letter_impaire;
    stroke-width: 10px;
    stroke-dasharray: 5000px;
    stroke-dashoffset: 5000px;
    animation: anim 5s ease forwards;
    animation-iteration-count: infinite;
}

.animation path:nth-child(12) { /*Lettre r cercle intérieur*/

    stroke: vars.$coler_letter_impaire;
    stroke-width: 10px;
    stroke-dasharray: 5000px;
    stroke-dashoffset: 5000px;
    animation: anim 5s ease forwards;
    animation-iteration-count: infinite;
}

@keyframes anim{ /*On définis le type d'animation*/
    to {
        stroke-dashoffset: 0; /*On décalle la position des pointillés*/
    }
}



