@use '../../utils/vars';

body { /*On travail le body*/

    line-height: 25px; /*Espace entre les lignes*/
    font-family: 'Montserrat', sans-serif;
    background-image: url("./assets/img/Japanese-Forest-Painting-AI-Generated-4K-Wallpaper.jpg");
    font-weight: 800;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}

h2 {
    padding: 1rem;
    font-size: x-large;
    border-bottom: 5px;
    border-style: solid;
    color: white;
}

a {
    color: vars.$coler_liens;
    
}

a:hover {

    color: vars.$coler_letter_paire;
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(233, 93, 116);
    border-radius: 25%;
    
}
/*border-width: 1px;
  border-style: solid;
  border-color: red;*/
