$coler_letter_impaire: rgb(119, 0, 255); /*Couleur des lettres impaires du svg bonjour*/
$coler_letter_paire: rgb(3, 150, 15); /*Couleur des lettres paires du svg bonjour*/
$coler_liens:rgb(255, 0, 0); /*Couleur des lettres paires du svg bonjour*/