$coler_letter_impaire: rgb(192, 117, 5); /*Couleur des lettres impaires du svg bonjour*/
$coler_letter_paire: rgb(0, 100, 17); /*Couleur des lettres paires du svg bonjour*/
$coler_liens:rgb(192, 117, 5); /*Couleur des lettres paires du svg bonjour*/