body{
    font-size: large;
    line-height: 25px;
}

header{

    margin-bottom: 20rem;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 10rem;
}

.photo {

    width: 10%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
}

h1{
    text-align: center;
}

.projets__img {

    width: 10%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 3310%);
}

section{

    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        text-align: center;
        font-size: xx-large;
        margin-bottom: 2rem;
        font-style: italic;
        text-decoration: underline;
        color: blue;
    }

    a{
        color: rgb(255, 0, 234);
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 0.5px;
        text-decoration: none;
    }

    a:hover{
        background-color: rgb(150, 0, 150);
        color: rgb(255, 255, 255);
    }
}

.miniature {
    width: 3%;
}

.projets {
    margin-bottom: 4rem;
}

footer{
    text-align: center;
    font-size: large;
}

