body{ /*On travail le body*/
    font-size: large; /*On agrandis la taille de la police*/
    line-height: 25px; /*Espace entre les lignes*/
}

.boite_svg { /*On travail la boite qui contient le "bonjour"*/

    width: 100%; /*Taille de la boite*/
    display: flex; /*On rend flexible la boite*/
    justify-content: center; /*On centre le svg bonjour*/
}

.photo { /*Portrait*/

    width: 15%; /*Taille de la photo*/
}

.cadre { /*Cadre autour de la photo*/

    width: 20%; /*Taille du cadre*/
    position: absolute; /*Position absolute pour pouvoir déplacer le cadre avec les 3 lignes suivantes*/
    left: 50%;
    right: 50%;
    transform: translate(-49%, -6.5%);
}

.boite_header { /*On travail la partie qui contient la photo et le cadre*/

    width: 100%; /*Taille de la boite qui contient la photo et l'encadrement*/
    display: flex; /*On rend flexible*/
    justify-content: center; /*On centre*/
    margin-top: 2rem; /*On laisse de l'espace au-dessus par rapport a la naviguation*/
}

header{ /*On travail le header*/
    display: flex; /*On rend flexible*/
    flex-direction: column; /*On dispose en colonnes*/

    a{
        color: rgb(119, 0, 255); /*Couleur des liens*/
        -webkit-text-stroke-color: black; /*On entoure la police des liens d'un trait noir*/
        -webkit-text-stroke-width: 0.4px; /*Epaisseur du trait autour des lettres*/
        padding: 5px; /*Espace autour des mots*/
        text-decoration: none; /*On retire le soulignement*/
        box-shadow: 0px 10px 20px rgb(3, 150, 15); /*On met une ombre violette*/
        border-radius: 40% 0% 40% 0%; /*On met un effet en bas a droite*/
        padding: 1rem; /*On met un peu d'espace autour des lettres pour aider l'effet banderole*/
        
    }
    ul{
        width: 100%; /*Prendre la taille du parent*/
        display: flex; /*Rendre flexible*/
        flex-direction: row; /*On met en ligne les éléments*/
        justify-content: space-evenly; /*On met de l'espace entre les éléments et au début/fin*/
        margin-top: 1rem; /*On met une marge au-dessus des liens pour mieux voir l'eefet banderole*/
    }
    li{
        list-style: none; /*On retire les points de la liste*/
    }
    a:hover{ /*On demande un cover sur les liens de nav*/
        border: solid; /*Type du trait de l'encadrement*/
        border-color: rgb(17, 0, 255); /*Couleur  de l'encadrement*/
        border-width: 1px; /*Epaisseur du trait de l'encadrement*/
        border-radius: 5px; /*Arrondie de l'encadrement*/
        color: rgb(255, 0, 234); /*Couleur du text lors du cover*/
        -webkit-text-stroke-color: rgb(0, 0, 0); /*Couleur du trait autour de l'écriture*/
        -webkit-text-stroke-width: 0.5px; /*Epaisseur du trait autour de l'écriture*/
    }
}

nav{ /*on travail le nav*/
    display: flex; /*On rend flexbible*/
    justify-content: space-around; /*On met de l'espace entre chaque éléments et en début/fin*/
    padding: 10px; /*On met de l'espace autour des mots*/
}

h1{ /*On travail le titre principal*/
    text-align: center; /*On centre*/
    font-weight: bold; /*On le met en gras*/
    margin-bottom: 1rem; /*On met une marge en-dessous du titre*/
}


