.logo, nav, .banniere {

    display: flex;
    justify-content: space-between;
}

nav {

    width: 40%;
}

.nav_barre {

    display: flex;
    flex-direction: row;
}

li {
    
    margin: 1rem;
}

.banniere {

    width: 100%;
}


img.photo {

    position: relative; /*position de celui qui reste immobile*/
    width: 50%;
    margin-left: 3rem;
}

img.cadre {
    
  position: absolute; /*position de celui qu'on deplace*/
  top: 9%; /*on choisis de placer l'enfant au centre de la balise parent grace a ces deux elements*/
  left: 6%; /*on choisis de placer l'enfant au centre de la balise parent grace a ces deux elements*/
  transform: translate(-50%, -50%); /*on place celui ci en bougeant l'axe horizontale (-50%) et verticale (-50%)*/ 
  z-index: 1; /*pour mettre l'enfant sur le parent*/
  width: 10%; /*on choisit la taille du cadre*/
}