section{ /*On travail les sections*/

    padding: 2rem; /*On esapce les sections*/
    display: flex; /*On rend les sections flexibles*/
    flex-direction: column; /*On demande que tous soit en colonnes*/
    align-items: center; /*On demande que tous soit centré*/

    h2 { /*On travail tous les titres  h2*/
        text-align: center; /*On centre*/
        font-size: xx-large; /*On agrandis la taille de la police*/
        margin-bottom: 2rem; /*On fait une marge en-dessous de chaque éléments*/
        font-style: italic; /*On met en italique*/
        text-decoration: underline; /*On souligne*/
        color: rgb(119, 0, 255); /*On choisis la couleur de la police*/
    }

    a{ /*On travail les liens*/
        color: rgb(255, 0, 234); /*On choisis la couleur de la police*/
        -webkit-text-stroke-color: black; /*On met un triat de couleur noir autour des lettres*/
        -webkit-text-stroke-width: 0.5px; /*On choisis l'épaisseur du trait autour des mettres*/
        text-decoration: none; /*On retire le soulignement*/
    }

    a:hover{ /*on ajoute un cover aux liens*/
        background-color: rgb(150, 0, 150); /*On choisis la couleur lors du cover*/
        color: rgb(255, 255, 255); /*On choisis la couleur*/
    }
}

.projets__img { /*On travail le raccourci Netflex*/
    
    width: 200px; /*On choisis la taille du svg*/

}

.contacts{ /*On travail la section contact pour laisser de l'espace avec la section projet car il y a une svg entre les deux*/
    margin-top: 2rem; /*On met une marge au-dessus*/
    display: flex; /*On rend flexible*/
    align-items: center; /*On centre*/
}

.miniature { /*On choisis la taille des icones*/
    width: 3%;
}